<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>UEA Study Planner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="planner_style.css">
    <style>
    </style>   

    <body>
        <!-- scroll to top button -->
        <button id="scrollBtn" title="Back to top" onclick="topFunction()">↑<br>Back to Top</button>
    
        <header> <!-- header contains both nav bar and logo  -->
            <div class="top-bar">
                    <img id="uea" src="https://i.imgur.com/G8W14Io.png">
                    <h1>Student Study Planner</h1>
                    <img id="logo" src="https://i.imgur.com/Bfrya3f.png​">
                </div>

            </div>
			
			<div class="navigation-bar">
                <div id="navigation-container"> 
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="calendar">Calendar</a></li>
                        <li><a id = "modulesButton" >Modules</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="help">Help</a></li>
                        <li>
                            <form action="/logout?_method=DELETE" method="POST">
                                <button class= "logoutBtn" type="submit">Log Out</button>
                            </form>
                        </li>
                        <li>
                            <button id="colorBtn" class="darkMode" onclick="colourFunction()">Toggle Colour</button>
                        </li>
                        <!--Added 3 images FELIX-->
                        <div id="social">
                            <div id="fb">
                                <a href="https://facebook.com/ueaofficial/">
                                    <img id="socialImage" src="/facebook.png">
                                </a>
                            </div>
                            <div id="ig">
                                <a href="https://instagram.com/uniofeastanglia">
                                    <img id="socialImage" src="/instagram.png">
                                </a>
                            </div>
                            <div id="tt">
                                <a href="https://twitter.com/uniofeastanglia">
                                    <img id="socialImage" href="twitter" src="/twitter.png">
                                </a>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
		
		</header>
       
        <div class="content-container">
            <div class="upload-container">          
                <br>
                <button class="module-button" id="module1" type="text"  onclick="showModule1()"><%= modules[0].name %></button>
                <button class="module-button" id="module2" type="text"  onclick="showModule2()"><%= modules[1].name %></button>
                <button class="module-button" id="module3" type="text"  onclick="showModule3()"><%= modules[2].name %></button>
                <br>  
                </div>
                

                <div class="coursework-container" id="module-1">
                <br>
    
                <u>Name</u><br> <%= modules[0].name %><br>
                <u>Year</u><br> <%= modules[0].year %><br>
                <u>Semester</u><br> <%= modules[0].semester %><br>
                <u>Code</u><br> <%= modules[0].code %><br>
                <u>Assessment 1</u><br> <%= modules[0].coursework[0].name[0] %> -  <%=modules[0].coursework[0].type[0] %><br>
                <u>Assessment 2</u><br> <%= modules[0].coursework[1].name[1] %> -  <%= modules[0].coursework[0].type[1]  %><br>
                <u>Assessment 3</u><br> <%= modules[0].coursework[2].name[2] %> -  <%= modules[0].coursework[0].type[2]  %><br>
                <u>Weighting</u><br> <%= modules[0].coursework[0].weighting %><br>
                <u>Deadlines</u><br> <%= modules[0].coursework[0].end %><br>
                </div>
                
                <div class="coursework-container" id="module-2">
                    <br>
                
                    <u>Name</u><br> <%= modules[1].name %><br>
                    <u>Year</u><br> <%= modules[1].year %><br>
                    <u>Semester</u><br> <%= modules[1].semester %><br>
                    <u>Code</u><br> <%= modules[1].code %><br>
                    <u>Assessment 1</u><br> <%= modules[1].coursework[0].name[0] %> -  <%= modules[1].coursework[0].type[0] %><br>
                    <u>Assessment 2</u><br> <%= modules[1].coursework[1].name[1] %> -  <%= modules[1].coursework[0].type[1]  %><br>
                    <u>Assessment 3</u><br> <%= modules[1].coursework[2].name[2] %> -  <%= modules[1].coursework[0].type[2]  %><br>
                    <u>Weighting</u><br> <%= modules[1].coursework[1].weighting %><br>
                    <u>Deadlines</u><br> <%= modules[1].coursework[1].end %><br>
                </div>

                <div class="coursework-container" id="module-3">
                    <br>
                
                    <u>Name</u><br> <%= modules[2].name %><br>
                    <u>Year</u><br> <%= modules[2].year %><br>
                    <u>Semester</u><br> <%= modules[2].semester %><br>
                    <u>Code</u><br> <%= modules[2].code %><br>
                    <u>Assessment 1</u><br> <%= modules[2].coursework[0].name[0] %> -  <%=modules[2].coursework[0].type[0] %><br>
                    <u>Assessment 2</u><br> <%= modules[2].coursework[1].name[1] %> -  <%= modules[2].coursework[0].type[1]  %><br>
                    <u>Assessment 3</u><br> <%= modules[2].coursework[2].name[2] %> -  <%= modules[2].coursework[0].type[2]  %><br>
                    <u>Weighting</u><br> <%= modules[2].coursework[2].weighting %><br>
                    <u>Deadlines</u><br> <%= modules[2].coursework[2].end %><br>
                </div>
                
        
           


</form>

        
        </div>
        
    <script src="scripts.js"></script>
        
        <footer>
            <p>Norwich Research Park, Norwich NR4 7TJ, Norwich, England – ©University of East Anglia. All rights reserved​</p>
        </footer>
    </body>
</html>